{% extends 'base.html' %}

{% block head %}


    <link rel="stylesheet" href="{{ url_for('static', filename='css/standard_graphs.css') }}">
    <!-- <script defer src="{{ url_for('static', filename='js/index.js') }}"></script> -->

    <style>
        #nav ul li:nth-child(2) {
            opacity: 0.8;
        }

        #graphs img {
            margin: 0;
        }

        #graphs .graph {
            margin: 25px;
        }

        #graphs .graph h4 {
            margin-left: 50px;
        }
    </style>



{% endblock %}

{% block body %}

<h3>HEAT MAPS</h3>

<div id="graphs">
    <div class="graph">
        <h4>population:</h4>
        <img src="{{ url_for('static', filename='datareps/heatmaps/population.png') }}">
    </div>
    <div class="graph">
        <h4>cases:</h4>
        <img src="{{ url_for('static', filename='datareps/heatmaps/cases.png') }}">
    </div>
    <div class="graph">
        <h4>deaths:</h4>
        <img src="{{ url_for('static', filename='datareps/heatmaps/deaths.png') }}">
    </div>
</div>

{% endblock %}